body {
  font-size: 14px;
}
header {
  color: #000080;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: 900;
  lett#er-spacing: 0.01em;
  text-align:center;
}
h1 {
  font-size: 2.7em;
  margin-left: 50px;
}
p {
  font-size: 1.4em;
  margin-left: -2em;
}
input {
  color: #000080;
  font-size: 16px;
  font-weight: 600;
}

div {
  width: 100vw;
  height:calc(100vh - 125px);
}
#leftSide {
position:absolute;
  width:49vw;
 border: 2px solid #ff0000; 
 background-color: green;
}
#rightSide {
position:absolute;
width:49vw;
  left:49vw;
  border: 2px solid #000; 
}

hr {
  padding: 0;
  margin: 0;
}

#bottom{
margin-top:(100vh-125px);
}

img {
  position: absolute;
}