body
{
background-color:#e8eeef;
margin:0px;
}

.body_header_1
{
background-color:#B1C1C0;
height:200px;
}
.body_header_2
{
/*background-color:#004080;
*/
background-color:#77B28C;
height:45px;
}
.header
{
width:95%;
height:300px;
margin:auto;
}
.button_area
{
width:1000px;
background-color:#77B28C;
margin:auto;
height:40px;
}
.container
{
width:95%;
height:auto;
margin:auto;
background-color:#f4f7f8;
/*#EEFFFF*/
}
a
{
text-decoration:none;
}
.footer_2
{
width:1000px;
height:24px;
margin:auto;
background-color:#98A5A4;
-webkit-border-radius: 0 0 15px 15px;
border-radius: 0 0 15px 15px;
padding-top:1px;

}
.button a
{
border-left:#999999 1px solid;
border-right:#999999 1px solid;
width:164.25px;
height:31px;
background-color:#77B28C;
float:left;
color:#FFFFFF;
text-align:center;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
padding-top:9px;
text-decoration:none;
}
.button a:hover
{
background-color:#639374;
color:#FFFFFF;
font-size:17px;
height:33px;
padding-top:7px;
text-shadow:1px 1px 1px #666666;
}

.button_selected a
{
background-color:#639374;
color:#FFFFFF;
font-size:17px;
height:33px;
padding-top:7px;
text-shadow:1px 1px 1px #666666;
}



.border
{
border-width:medium;
-webkit-border-radius: 15px 15px 15px 15px;
border-radius: 15px 15px 15px 15px;

}

.table{
margin:50px;
}


.form-style-5{
    max-width: 750px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="password"],
.form-style-5 input[type="radio"],
.form-style-5 input[type="date"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 40%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #d9e3e5;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="password"]:focus,
.form-style-5 input[type="radio"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 80px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 9px 29px 8px 29px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 20%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
	border-radius: 35px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}
a.list-group-item.active>.badge,.nav-pills>.active>a>.badge{color:#428bca;background-color:#fff}
.list-group
{
	padding-left:0;margin-bottom:20px;margin-left:0px;padding-left: 0px;
}
.list-group-item,.mudit
{
	position:relative;
	max-width: 150px;
	display:block;
	padding:10px 15px;
	margin-bottom:-1px;
	background-color:#fff;
	border:1px solid #ddd;
    margin-left:-40px;
}
.list-group-item>.badge
{
	float:right
}
.list-group-item>.badge+.badge
{
	margin-right:5px
}
a.list-group-item
{
	color:#555
}
a.list-group-item 
{
	color:#333
}
a.list-group-item:hover,a.list-group-item:focus,a.mudit
{
	color:#555;
	text-decoration:none;
	background-color:#f5f5f5
}
.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus
{
	z-index:2;
	color:#fff;
	background-color:#428bca;
	border-color:#428bca
}
.list-group-item.active, .list-group-item.active:hover,.list-group-item.active:focus,.list-group-item.active,.list-group-item.active:hover, .list-group-item.active:focus ,.list-group-item.active ,.list-group-item.active:hover ,.list-group-item.active:focus 
{
	color:inherit;
}
.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus
{
	color:#e1edf7;
}
.list-group-item-success{color:#3c763d;background-color:#dff0d8}a.list-group-item-success{color:#3c763d}a.list-group-item-success .list-group-item-heading{color:inherit}a.list-group-item-success:hover,a.list-group-item-success:focus{color:#3c763d;background-color:#d0e9c6}a.list-group-item-success.active,a.list-group-item-success.active:hover,a.list-group-item-success.active:focus{color:#fff;background-color:#3c763d;border-color:#3c763d}.list-group-item-info{color:#31708f;background-color:#d9edf7}a.list-group-item-info{color:#31708f}a.list-group-item-info .list-group-item-heading{color:inherit}a.list-group-item-info:hover,a.list-group-item-info:focus{color:#31708f;background-color:#c4e3f3}a.list-group-item-info.active,a.list-group-item-info.active:hover,a.list-group-item-info.active:focus{color:#fff;background-color:#31708f;border-color:#31708f}.list-group-item-warning{color:#8a6d3b;background-color:#fcf8e3}a.list-group-item-warning{color:#8a6d3b}a.list-group-item-warning .list-group-item-heading{color:inherit}a.list-group-item-warning:hover,a.list-group-item-warning:focus{color:#8a6d3b;background-color:#faf2cc}a.list-group-item-warning.active,a.list-group-item-warning.active:hover,a.list-group-item-warning.active:focus{color:#fff;background-color:#8a6d3b;border-color:#8a6d3b}.list-group-item-danger{color:#a94442;background-color:#f2dede}a.list-group-item-danger{color:#a94442}a.list-group-item-danger .list-group-item-heading{color:inherit}a.list-group-item-danger:hover,a.list-group-item-danger:focus{color:#a94442;background-color:#ebcccc}a.list-group-item-danger.active,a.list-group-item-danger.active:hover,a.list-group-item-danger.active:focus{color:#fff;background-color:#a94442;border-color:#a94442}.list-group-item-heading{margin-top:0;margin-bottom:5px}.list-group-item-text{margin-bottom:0;line-height:1.3}.panel{margin-bottom:20px;background-color:#fff;border:1px solid transparent;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}.panel-body{padding:15px}.panel-heading{padding:10px 15px;border-bottom:1px solid transparent;border-top-left-radius:3px;border-top-right-radius:3px}.panel-heading>.dropdown .dropdown-toggle{color:inherit}.panel-title{margin-top:0;margin-bottom:0;font-size:16px;color:inherit}.panel-title>a{color:inherit}.panel-footer{padding:10px 15px;background-color:#f5f5f5;border-top:1px solid #ddd;border-bottom-right-radius:3px;border-bottom-left-radius:3px}.panel>.list-group{margin-bottom:0}.panel>.list-group .list-group-item{border-width:1px 0;border-radius:0}.panel>.list-group:first-child .list-group-item:first-child{border-top:0;border-top-left-radius:3px;border-top-right-radius:3px}.panel>.list-group:last-child .list-group-item:last-child{border-bottom:0;border-bottom-right-radius:3px;border-bottom-left-radius:3px}.panel-heading+.list-group .list-group-item:first-child{border-top-width:0}.list-group+.panel-footer{border-top-width:0}